/*DOCUMENTO*/
*{margin: 0px;
padding: 0;}

h2{ font-size: 32px;
    padding: 16px 0px ;}
    

    h1{text-align: center  ;
        font-size: 40px;
        padding-bottom: 32px ;}

section.card{background-color: rgb(255, 0, 0);
            padding: 80px 0%;}

.container{background-color: rgb(7, 0, 7);
        width: 100%;
        min-height: 1px;
        margin: auto;
    display: flex;
    flex-flow: column wrap;}

.items p { font-size: 18px;
          line-height: 140%;
          padding-bottom: 16px;
         text-align: justify;}


.items{background-color: rgb(81, 7, 7);
      width: 100%;
      min-height: 100px;
    text-align: center;
    padding: 16px;
    box-sizing: border-box;              }

.items img{width:100% ;
          height: 800px;}
.dos{align-self: flex-start;
                 }

/*Pantallas de 600px en adelante*/
@media only screen and( min-width:600px)  {

h1{font-size: 56px;}
h2{font-size: 40px;
text-decoration: solid;

.items{font-size: 24px;}}

}



/*Pantallas de 1380px en adelante*/
@media only screen and( min-width:1380px){
     
    .container {
    width: 70%;
    justify-content: space-between;
    border-top-left-radius: 16px;
    border-top-left-radius: 16px;}


    .items{border-top-left-radius: 16px;
          border-top-right-radius:16px ;
        width: 30px ;}
        border-bottom-left-radius: 16px;
   

}
