/*DOCUMENTO*/
*{margin: 0%;
padding: 0%;}
h2 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 32px;
margin-bottom: 16px;
line-height: 140%;}
header.cabecera{ width: 80%; min-height: 1px; padding: 16px 0px; margin: 16px auto; text-align: center; font-size: 4em; color: rgb(255, 255, 255); border: 1px solid rgb(122, 21, 255); bborder-radius: ; -webkit-border-radius:; -moz-border-radius:; -ms-border-radius:; -o-border-radius 16px;
background: rgb(0, 0, 0);
background: linear-gradient()180deg, rgb(255, 255, 255);}

main.principal{}

.pricipal p{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 16px;
line-height: 150%;
padding-bottom: 16px;}

.principal a {
    width: 250px;
    display: block;
    padding: 8px 0px;
    text-align: center;
    background-color: rgba(13, 73, 53, 0.743);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-decoration:center;}
    

section.contenido{width: 50%;
display: flex;
margin: auto;}

.contenido::after {content: "" ;
                   display: block;
                width: 60px;
            height: 60px;
        background-image: url(../IMG/send-check-fill.svg);
        background-repeat: no-repeat;
    background-repeat: 100%;
    position: relative;
     top: -15px;
      right: -40px;}

.uno> di {margin-right: 16px;}

div.items{ width: 50%;
padding: 8px 0px;
margin-bottom: 8px ;}

.items input { width: 100%; padding: 8px 0px; margin-bottom: 8px; bborder-radius:; -webkit-border-radius 8px; -moz-border-radius:; -ms-border-radius:; -o-border-radius:;
border: 1px solid rgb(73, 108, 80);}

.items input::placeholder textarea::placeholder{color: rgb(105, 143, 105);}

textarea{
    max-width:100%;
    min-width: 1005;
    min-height: 120px;
    max-height: 120px;
    bborder-radius: 8px ;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    border: 1px solid rgb(0, 0, 0);
}

footer.pie{text-align: center;
padding: 32px 0px;
color: rgb(0, 0, 0);
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}