/*DOCUMENTO CSS*/
*{margin: 0px 
pedding: 0px; }
body { background-color: rgba(127, 255, 212, 0.316);}

h1 {background-color: green;
padding: 16px 0px;
text-align: center;
color: white;} 




.tablas{width: 50; 
margin: 24px auto 24px auto;
background-color: white;
text-align: center;}

